---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <main>
    <Section containerClass="bg-slate-100">
      <h1 class="section-heading text-primary-header-dark">Page not found</h1>

      <a href="/" class="text-href-color">Return to home</a>
    </Section>
  </main>
</Layout>
