---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { EventCalendar } from '../components/EventCalendar';
import { getEvents } from '../data';

const events = await getEvents();
---

<Layout title="Events">
  <main>
    <Section containerClass="mt-3 sm:mt-0">
      <EventCalendar events={events} client:only="react" />
    </Section>
  </main>
</Layout>
