---
import Layout from '../layouts/Layout.astro';
import { EventCalendar } from '../components/EventCalendar';
---

<Layout title="Events">
  <main>
    <EventCalendar client:only="react" />
  </main>
</Layout>
