---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { EventCalendar } from '../components/EventCalendar';
---

<Layout title="Events">
  <main>
    <Section containerClass="mt-3 sm:mt-0">
      <EventCalendar client:only="react" />
    </Section>
  </main>
</Layout>
