---
import Section from '../components/Section.astro';
---

<footer>
  <Section
    containerClass="text-xs bg-slate-950 text-paragraph-light font-bold md:text-base"
    innerSectionClass="flex flex-col justify-between md:flex-row"
  >
    <p>© {new Date().getFullYear()} Circassian Benevolent Association</p>

    <p>
      Designed by
      <a href="https://yazeedb.com" class="underline">Yazeed Bzadough </a>
    </p>
  </Section>
</footer>
