<footer
  class="bg-slate-950 flex flex-col lg:flex-row justify-between text-paragraph-light section-paragraph font-bold p-6"
>
  <p>© {new Date().getFullYear()} Circassian Benevolent Association</p>

  <p>
    Designed by
    <a href="https://yazeedb.com" class="underline"> Yazeed Bzadough </a>
  </p>
</footer>
