---
import cn from 'classnames';

const links = [
  { text: 'Home', href: '/' },
  { text: 'About', href: '/about' },
  { text: '', href: '', isDummy: true },
  { text: 'History', href: '/history' },
  { text: 'Events', href: '/events' }
];

const currentUrl = Astro.url.pathname;
---

<nav class="relative px-5 py-3 md:p-0 bg-primary-green">
  <div class="md:hidden flex items-center">
    <button class="navbar-burger text-primary-header-light flex-grow-0">
      <svg
        class="block h-4 w-4 fill-current"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>

    <a href="/" class="mx-auto">
      <img
        id="top-nav-mobile-logo"
        src="cba-logo.png"
        alt="CBA Logo"
        class="h-14"
      />
    </a>
  </div>

  <ul
    class="hidden text-primary-header-light md:flex justify-between max-w-[600px] m-auto p-7 relative"
  >
    {
      links.map((link) => (
        <li
          class={cn({
            'text-cta-color font-bold': currentUrl === link.href
          })}
        >
          <a href={link.href}>{link.text}</a>

          {link.isDummy ? (
            <a href="/">
              <img
                id="top-nav-desktop-logo"
                src="cba-logo.png"
                alt="CBA Logo"
                class="z-10 absolute top-2 left-[42%] w-[15%]"
              />
            </a>
          ) : null}
        </li>
      ))
    }
  </ul>
</nav>

<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav
    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-primary-green overflow-y-auto"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="/">
        <img
          id="side-nav-logo"
          src="cba-logo.png"
          alt="CBA Logo"
          class="h-14"
        />
      </a>

      <button class="navbar-close">
        <svg
          class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        {
          links
            .filter((link) => !link.isDummy)
            .map((link) => (
              <li class="mb-1 text-primary-header-light">
                <a
                  href={link.href}
                  class={cn('block p-4 text-sm', {
                    'text-cta-color font-bold': currentUrl === link.href
                  })}
                >
                  {link.text}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const burger = document.querySelector('.navbar-burger');
    const menu = document.querySelector('.navbar-menu');
    const close = document.querySelector('.navbar-close');
    const backdrop = document.querySelector('.navbar-backdrop');

    if (!burger || !menu || !close || !backdrop) return;

    const closeMenu = () => menu.classList.toggle('hidden');

    burger.addEventListener('click', function () {
      closeMenu();
    });

    close.addEventListener('click', function () {
      closeMenu();
    });

    backdrop.addEventListener('click', function () {
      closeMenu();
    });

    document.addEventListener('keyup', function (event) {
      if (event.key === 'Escape') menu.classList.add('hidden');
    });
  });
</script>
