---

---

<div class="flex flex-col gap-2 items-center">
  <svg
    class="w-1/2 md:w-1/3"
    viewBox="0 0 469 352"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M468.355 351.389H0V0H468.355V351.389Z" fill="white"></path>
    <path
      d="M113.492 73.3375C123.788 73.3375 132.135 64.9907 132.135 54.6945C132.135 44.3983 123.788 36.0516 113.492 36.0516C103.195 36.0516 94.8486 44.3983 94.8486 54.6945C94.8486 64.9907 103.195 73.3375 113.492 73.3375Z"
      fill="#E6E6E6"></path>
    <path
      d="M156.548 42.2659C155.725 42.2674 154.936 42.5954 154.354 43.1779C153.773 43.7605 153.446 44.5499 153.446 45.373C153.446 46.1962 153.773 46.9856 154.354 47.5682C154.936 48.1507 155.725 48.4787 156.548 48.4802H383.407C384.23 48.4787 385.019 48.1507 385.6 47.5682C386.182 46.9856 386.508 46.1962 386.508 45.373C386.508 44.5499 386.182 43.7605 385.6 43.1779C385.019 42.5954 384.23 42.2674 383.407 42.2659H156.548Z"
      fill="#E6E6E6"></path>
    <path
      d="M156.548 60.9088C155.724 60.9071 154.933 61.2328 154.349 61.8142C153.765 62.3957 153.436 63.1853 153.434 64.0094C153.432 64.8335 153.758 65.6245 154.34 66.2084C154.921 66.7923 155.711 67.1214 156.535 67.1231H299.957C300.366 67.1238 300.77 67.044 301.148 66.8882C301.526 66.7324 301.869 66.5036 302.158 66.215C302.447 65.9264 302.676 65.5836 302.833 65.2063C302.989 64.829 303.07 64.4245 303.07 64.016C303.07 63.6074 302.989 63.203 302.833 62.8256C302.676 62.4483 302.447 62.1055 302.158 61.8169C301.869 61.5283 301.526 61.2995 301.148 61.1437C300.77 60.9879 300.366 60.9081 299.957 60.9088H156.548Z"
      fill="#E6E6E6"></path>
    <path
      d="M468.355 351.389H0V0H468.355V351.389ZM5.24207 346.147H463.113V5.24211H5.24207V346.147Z"
      fill="#E6E6E6"></path>
    <path
      d="M26.1777 107.159V316.159H442.178V107.159H26.1777ZM440.178 158.909H338.678V109.159H440.178V158.909ZM235.178 158.909V109.159H336.678V158.909H235.178ZM336.678 160.909V210.659H235.178V160.909H336.678ZM233.178 158.909H131.678V109.159H233.178V158.909ZM233.178 160.909V210.659H131.678V160.909H233.178ZM129.678 210.659H28.1777V160.909H129.678V210.659ZM129.678 212.659V262.409H28.1777V212.659H129.678ZM131.678 212.659H233.178V262.409H131.678V212.659ZM233.178 264.409V314.159H131.678V264.409H233.178ZM235.178 264.409H336.678V314.159H235.178V264.409ZM235.178 262.409V212.659H336.678V262.409H235.178ZM338.678 212.659H440.178V262.409H338.678V212.659ZM338.678 210.659V160.909H440.178V210.659H338.678ZM129.678 109.159V158.909H28.1777V109.159H129.678ZM28.1777 264.409H129.678V314.159H28.1777V264.409ZM338.678 314.159V264.409H440.178V314.159H338.678Z"
      fill="#E4E4E4"></path>
    <path
      d="M196.949 163.387L155.557 162.449C151.416 146.411 153.28 131.139 156.584 117.067L197.977 118.004C193.79 132.8 193.437 148.417 196.949 163.387Z"
      fill="#072B15"></path>
    <path
      d="M163.676 127.097L163.698 125.522L185.143 126.288L185.12 127.863L163.676 127.097Z"
      fill="white"></path>
    <path
      d="M163.586 133.397L163.608 131.822L185.052 132.589L185.03 134.164L163.586 133.397Z"
      fill="white"></path>
    <path
      d="M163.495 139.697L163.518 138.122L184.962 138.889L184.94 140.464L163.495 139.697Z"
      fill="white"></path>
    <path
      d="M163.405 145.997L163.427 144.422L184.872 145.189L184.849 146.764L163.405 145.997Z"
      fill="white"></path>
    <path
      d="M163.315 152.297L163.337 150.722L184.782 151.489L184.759 153.064L163.315 152.297Z"
      fill="white"></path>
    <path
      d="M106.949 279.387L65.5567 278.449C61.4164 262.411 63.2804 247.139 66.5844 233.067L107.977 234.004C103.79 248.8 103.437 264.417 106.949 279.387Z"
      fill="#F0F0F0"></path>
    <path
      d="M73.676 243.097L73.698 241.522L95.143 242.288L95.12 243.863L73.676 243.097Z"
      fill="white"></path>
    <path
      d="M73.5859 249.397L73.6079 247.822L95.0519 248.589L95.0299 250.164L73.5859 249.397Z"
      fill="white"></path>
    <path
      d="M73.4951 255.697L73.5181 254.122L94.9621 254.889L94.9401 256.464L73.4951 255.697Z"
      fill="white"></path>
    <path
      d="M73.405 261.997L73.427 260.422L94.872 261.189L94.849 262.764L73.405 261.997Z"
      fill="white"></path>
    <path
      d="M73.3149 268.297L73.3369 266.722L94.7819 267.489L94.7589 269.064L73.3149 268.297Z"
      fill="white"></path>
    <path
      d="M322.949 226.387L281.557 225.449C277.416 209.411 279.28 194.139 282.584 180.067L323.977 181.004C319.79 195.8 319.437 211.417 322.949 226.387Z"
      fill="#F0F0F0"></path>
    <path
      d="M289.676 190.097L289.698 188.522L311.143 189.288L311.12 190.863L289.676 190.097Z"
      fill="white"></path>
    <path
      d="M289.586 196.397L289.608 194.822L311.052 195.589L311.03 197.164L289.586 196.397Z"
      fill="white"></path>
    <path
      d="M289.495 202.697L289.518 201.122L310.962 201.889L310.94 203.464L289.495 202.697Z"
      fill="white"></path>
    <path
      d="M289.405 208.997L289.427 207.422L310.872 208.189L310.849 209.764L289.405 208.997Z"
      fill="white"></path>
    <path
      d="M289.315 215.297L289.337 213.722L310.782 214.489L310.759 216.064L289.315 215.297Z"
      fill="white"></path>
    <path
      d="M304.949 216.387L263.557 215.449C259.416 199.411 261.28 184.139 264.584 170.067L305.977 171.004C301.79 185.8 301.437 201.417 304.949 216.387Z"
      fill="#072B15"></path>
    <path
      d="M271.676 180.097L271.698 178.522L293.143 179.288L293.12 180.863L271.676 180.097Z"
      fill="white"></path>
    <path
      d="M271.586 186.397L271.608 184.822L293.052 185.589L293.03 187.164L271.586 186.397Z"
      fill="white"></path>
    <path
      d="M271.495 192.697L271.518 191.122L292.962 191.889L292.94 193.464L271.495 192.697Z"
      fill="white"></path>
    <path
      d="M271.405 198.997L271.427 197.422L292.872 198.189L292.849 199.764L271.405 198.997Z"
      fill="white"></path>
    <path
      d="M271.315 205.297L271.337 203.722L292.782 204.489L292.759 206.064L271.315 205.297Z"
      fill="white"></path>
    <path
      d="M457.616 307.736L416.223 306.799C412.083 290.76 413.947 275.489 417.251 261.417L458.643 262.354C454.456 277.149 454.103 292.767 457.616 307.736Z"
      fill="#072B15"></path>
    <path
      d="M424.342 271.446L424.365 269.871L445.809 270.638L445.786 272.213L424.342 271.446Z"
      fill="white"></path>
    <path
      d="M424.252 277.746L424.274 276.171L445.719 276.938L445.696 278.513L424.252 277.746Z"
      fill="white"></path>
    <path
      d="M424.161 284.047L424.184 282.472L445.628 283.238L445.606 284.813L424.161 284.047Z"
      fill="white"></path>
    <path
      d="M424.071 290.347L424.094 288.772L445.538 289.538L445.515 291.113L424.071 290.347Z"
      fill="white"></path>
    <path
      d="M423.981 296.647L424.003 295.072L445.448 295.839L445.425 297.414L423.981 296.647Z"
      fill="white"></path>
    <path
      d="M412.949 171.387L371.557 170.449C367.416 154.411 369.28 139.139 372.584 125.067L413.977 126.004C409.79 140.8 409.437 156.417 412.949 171.387Z"
      fill="#F0F0F0"></path>
    <path
      d="M379.676 135.097L379.698 133.522L401.143 134.288L401.12 135.863L379.676 135.097Z"
      fill="white"></path>
    <path
      d="M379.586 141.397L379.608 139.822L401.052 140.589L401.03 142.164L379.586 141.397Z"
      fill="white"></path>
    <path
      d="M379.495 147.697L379.518 146.122L400.962 146.889L400.94 148.464L379.495 147.697Z"
      fill="white"></path>
    <path
      d="M379.405 153.997L379.427 152.422L400.872 153.189L400.849 154.764L379.405 153.997Z"
      fill="white"></path>
    <path
      d="M379.315 160.297L379.337 158.722L400.782 159.489L400.759 161.064L379.315 160.297Z"
      fill="white"></path>
  </svg>

  <h3 class="section-heading-minor text-paragraph-dark">
    No upcoming CBA events
  </h3>

  <h4 class="text-paragraph-dark">Please check back later!</h4>
</div>
