---
import cn from 'classnames';

interface Props {
  containerClass?: string;
  innerSectionClass?: string;
}

const { containerClass, innerSectionClass } = Astro.props;
---

<section class={cn(containerClass, 'py-2')}>
  <section
    class={cn('max-w-7xl m-auto py-6 px-4 section-layout', innerSectionClass)}
  >
    <slot />
  </section>
</section>
