---
import cn from 'classnames';

interface Props {
  containerClass?: string;
  innerSectionClass?: string;
}

const { containerClass, innerSectionClass } = Astro.props;
---

<section class={cn(containerClass)}>
  <section class={cn('max-w-7xl m-auto py-7 px-4', innerSectionClass)}>
    <slot />
  </section>
</section>
