<a
  class="border-slate-700 text-slate-700 font-bold border-2 p-2 rounded flex items-center"
  href="/events"
>
  <span class="px-2">View all</span>

  <svg
    width="24"
    height="21"
    viewBox="0 0 24 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.1859 12.6094H2.00069C1.47007 12.6094 0.961191 12.3987 0.585989 12.0236C0.210787 11.6485 0 11.1398 0 10.6094C0 10.079 0.210787 9.57025 0.585989 9.19518C0.961191 8.82011 1.47007 8.6094 2.00069 8.6094H17.1859L12.5843 4.0094C12.3763 3.82859 12.2079 3.60675 12.0896 3.3578C11.9714 3.10884 11.9059 2.83815 11.8972 2.56269C11.8886 2.28724 11.937 2.01297 12.0394 1.7571C12.1418 1.50123 12.296 1.26928 12.4923 1.07579C12.6886 0.882309 12.9228 0.731471 13.1802 0.632744C13.4376 0.534016 13.7126 0.489528 13.988 0.502073C14.2634 0.514618 14.5332 0.583924 14.7806 0.705643C15.0279 0.827361 15.2474 0.998866 15.4253 1.2094L23.4281 9.2094C23.7947 9.58325 24 10.0859 24 10.6094C24 11.1329 23.7947 11.6355 23.4281 12.0094L15.4253 20.0094C15.0449 20.34 14.5538 20.5148 14.05 20.499C13.5462 20.4832 13.067 20.2779 12.7081 19.9242C12.3492 19.5705 12.1371 19.0944 12.1141 18.591C12.0912 18.0877 12.2591 17.5943 12.5843 17.2094L17.1859 12.6094Z"
      fill="#334155"></path>
  </svg>
</a>
