---
import Layout from '../../layouts/Layout.astro';
import { EventCalendar } from '../../components/EventCalendar';
import { getEvents } from '../../data/events';

const events = await getEvents();
---

<Layout title="Events">
  <main>
    <section class="py-6 sm:max-w-7xl mx-auto">
      <EventCalendar events={events} client:only="react" />
    </section>
  </main>
</Layout>
